[tools]
node = "latest"
uv = "latest"

# =================================================================================================
# Project Tools
# =================================================================================================
opentofu = "latest"
terragrunt = "latest"
just = "latest"

pre-commit = "latest"

# =================================================================================================
# CI Tools
# =================================================================================================
gh = "latest"
actionlint = "latest"
yamllint = "latest"
"npm:@commitlint/cli" = "latest"
