---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Commitlint
permissions: { contents: read }

on:
  pull_request_target: {}
  push: {}

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Validate PR Title
        if: github.event_name == 'pull_request_target'
        run: echo "$PR_TITLE" | mise exec -- commitlint --verbose
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}

      - name: Validate last commit
        if: github.event_name == 'push'
        run: mise exec -- commitlint --last --verbose