---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint Job

on:
  workflow_dispatch: {}
  pull_request: {}

jobs:
  # TODO: terraform lint here
  actionlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-actionlint.yaml@c60bb9813e634b15663d4ff01027e3b32102aef4 # v3.7.2
    secrets: inherit

  markdownlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-markdownlint.yaml@c60bb9813e634b15663d4ff01027e3b32102aef4 # v3.7.2
    secrets: inherit

  commitlint:
    uses: mirceanton/reusable-workflows/.github/workflows/reusable-commitlint.yaml@c60bb9813e634b15663d4ff01027e3b32102aef4 # v3.7.2
    secrets: inherit
